/* Universal Selectors */
* {
    margin: 0;
    padding: 0;
}

/* Element Selectors */
body {
    background-color: beige;
    color: brown;
}

/* Class Selectors */
.bg-green {
    background-color: forestgreen;
    color: beige;
}

/* ID Selectors */
#contact {
    background-color: lightpink;
}