/* Universal Selectors */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Element Selectors */
a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: purple;
}

body {
    background-color: beige;
    text-align: center;
    font-family: Garamond, serif;
}

figure {
    margin-bottom: 110px;
}

h1 {
    font-size: 16px;    
}

h2 {
    padding-top: 75px;
}

h3 {
    padding: 15px;
}

img {
    height: 300px;
    border-radius: 10%;
    margin: 25px;
}

input {
    text-align: center;
}

li {
    display: inline;
    margin-right: 15px;
}

main {
    padding-top: 75px;
}

nav {
    display: inline;
}

ul {
    list-style-type: none;
}

/* Class Selectors */
.contact-form-container {
    max-width:200px;
    margin: auto;
    border: 3px solid rgb(226, 193, 131);
    border-radius: 10%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* ID Selectors */
#button {
    margin-top: 10px;
    padding: 5px;
}

#contact {
    background-color: rgb(249, 226, 177);
    padding: 10px 0px 20px;
}

#footer {
    padding: 15px;
    border-top: 10px solid lightblue;
    background-color: rgb(10, 138, 243);
    color: white;
}

#form {
    display: none;
}

#header {
    padding: 15px;
    border-bottom: 10px solid lightblue;
    background-color: rgb(10, 138, 243);
    color: white;
}

#modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: lightgrey;
    color: black;
    border: 2px solid #000000;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px black;
    z-index: 1000;
}

#modal button {
    padding: 5px;
}

#modal p {
    margin-bottom: 20px;
}